.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 2s;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.navbar a {
  color: aliceblue;
}
.navbar a:hover {
  color: darkorange;
}

.navbar-nav {
  margin-left: 50px;
  letter-spacing: 2px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.navbar-toggler {
  color: aliceblue;
}
.navbar-button {
  color: aliceblue;
}

/* jumbotron */

.jumbotron {
  margin-top: 50px;
  background-color: darkgoldenrod;
  margin-left: 30px;
  text-shadow: 25px;
  color: aliceblue;
}
.jb {
  background-color: darkgoldenrod;
  min-height: 350px;
}
.jb img {
  width: 700px;
  height: 550px;
  margin-top: -120px;
  margin-left: -120px;
}

/* kategori */

.kategori {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.kategori h {
  color: darkgreen;
}

.kt {
  min-height: 350px;
}
.kt img {
  margin-top: -200px;
  margin-left: -200px;
}

.update h4 {
  margin-left: 30px;
}
.update p {
  margin-left: 30px;
  margin-bottom: 30px;
}

.page {
  margin-top: 30px;
}

.newslater {
  margin-top: 30px;
  min-height: 400px;
  background-color: #bdbdcd;
}

.socialmedia {
  margin-top: 30px;
}

footer {
  min-height: 250px;
  margin-top: 30px;
}

.fotkanan {
  margin-top: 30px;
  color: aliceblue;
}

.fotkiri img {
  margin-top: 60px;
  width: 200px;
  height: 80px;
}
